includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - playground/*
        - vendor/*
    ignoreErrors:
        - identifier: missingType.iterableValue
